- body_classes << "single_form"

#single_form
  %h1 Sign up with Kuviat
  
  - form_tag signup_url, :"data-onsubmit_status" => "Creating your new site&#8230;" do
    %p
      %label{:for=>"subdomain"} Site Address
      = text_field_tag "subdomain", @subdomain, :class => 'textbox activate', :style => "width:72%;text-align:right;", :maxlength => 30, :size => 30
      %span{:style=>"font-family: Georgia, Palatino, 'Times New Roman', Times, serif; font-size: 140%; margin-bottom:0px;"} .kuviat.com
    %p
      %label{:for=>"login"} Username
      = text_field_tag "login", @login, :class => 'textbox', :maxlength => 40, :size => 40
    %br
    %p
      %label{:for=>"password"}= t('password') 
      = password_field_tag "password", '', :class => 'textbox password', :maxlength => 40, :size => 40
    %p
      %label{:for=>"password_confirmation"} Confirm
      = password_field_tag "password_confirmation", '', :class => 'textbox password', :maxlength => 40, :size => 40
    %p.buttons
      %input.button{:type => "submit", :value => "Sign up and start creating&rarr;"}

%p.version
  = t('powered_by')
  %a{ :href => "http://radiantcms.org" } Radiant CMS
  = t('version')   
  = Radiant.loaded_via_gem? ? "#{Radiant::Version} (gem)." : "#{Radiant::Version}."      