%tr
  %th.label
    %label{:for=>"user_admin"} Roles
  %td.field
    - if admin?
      %span.checkbox
        = check_box :user, "admin"
        = label :user, :admin, "Admin"
    %span.checkbox
      = check_box :user, "site_admin"
      = label :user, :site_admin, "Site Admin"
    %span.checkbox
      = check_box :user, "designer"
      = label :user, :designer
  %td.help
    Roles restrict user privileges and turn parts of the administrative interface on or off.

