.outset
  %table#sites.index{:cellpadding=>"0", :cellspacing=>"0", :border=>"0"}
    %thead
      %tr
        %th.name Host
        %th.actions{:style=>"width:8em;"} Modify
    %tbody
      - unless @sites.empty?
        - for site in @sites
          %tr.node.level-1
            %td.name
              = link_to image_tag('sites/site.png'), edit_admin_site_url(:id => site), :title => site.title
              = link_to site.title, edit_admin_site_url(:id => site)
            %td.actions
              - if site == current_site
                %span.action.disabled= image('minus_disabled') + ' Switch to'
                %span.action.disabled= image('minus_disabled') + ' ' + t('remove')
              - else
                = link_to image('plus') + ' Switch to', switch_to_admin_site_url(site), :class => "action"
                = link_to image('minus') + ' ' + t('remove'), remove_admin_site_url(:id => site), :class => "action"
      - else
        %tr
          %td.note{:colspan=>2} No Sites
#actions
  %ul
    %li= link_to image('plus') + ' New Site', new_admin_site_url