%h1 Remove Site

%p 
  Are you sure you want to 
  %strong.warning permanently remove
  the following site?

%table.index#sites{:cellpadding=>0, :cellspacing=>0, :border=>0}
  %tbody
    %tr.node.level-1
      %td.site 
        = image_tag('sites/site.png')
        = h @site.title + " " + %{(#{@site.hostnames.map(&:domain).join(', ')})}

- form_for [:admin, @site], 
  :html => {:method => :delete, 'data-onsubmit_status'=>"Removing site&#8230;" } do
  %p.buttons
    %input.button{:type=>"submit", :value=>"Delete Site"}/
    = t('or')
    = link_to t('cancel'), admin_sites_url